.main_container{
  background-color: aqua;
}

.input_container{
  display: flex;
  justify-content: center;
}

.search_input{
  margin: 0 auto;
  width: 30rem;
  height: 2.5rem;
  padding-left: 3rem;
  border-radius: 20px;
  border: 1px solid black;
  outline: none;
}



.search_icon{
  width: 2rem;
  height: 2rem;
  margin-top: 0.3rem;
}

.icon_container{
  position: relative;
  left: 2.5rem; 
}

.search_input ::placeholder{
  padding-left: 3rem;
}